body {
    background-image: url("myBackground.jpg"); /*Comment like this in CSS*/
    background-repeat: no-repeat; /* image only used once, i.e. not repeated */ 
    background-size: cover; /* Resize the background image to cover the entire container (Page) */
    color: white /*This is the colour of the text*/
}